@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: linear-gradient(135deg, #dbeafe, #ffffff, #ede9fe);
}

body > div {
  text-align: center;
  margin-top: 100px;
}

body > div > div {
  background: linear-gradient(135deg, #dbeafe, #ffffff, #ede9fe);
  width: 300px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  transition: 0.3s;
}
body > div > div:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px lightgray;
}

h1 {
  color:#5e5eef;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 1px 2px 4px lightgray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


input {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px gray;
  border-radius: 5px;
}

button {
  background-color:green;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}
